body {
  background-color: #e3fdfd
}

body {
  color: #393232;
  text-align: center;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: aqua;
  border-width: 5px;
  width: 15%;
}

h1 {
  color: #3a4750;
  text-align: center;
}

h3 {
  color: #3a4750;
  text-align: center;
}
h2{
  color: #3a4750;
  text-align: center;
}

th {
  color: #222831;
}
