body{
  margin: 0px;
}
h1{
  margin-top: 0px;
  margin-left: 40pc;
  font-family: cursive;
  font-size: 80px;
  color: #525252;
}
span{
  color:#525252;
  font-family: cursive;
  font-size: 55px;
  font-style: italic;
  position: relative;
  left: 45pc;
}
.sp1{
  color:#525252;
  font-family: cursive;
  font-size: 20px;
  position: relative;
  left: 50pc;
}

.topc{
  background-color: #b2fcff;
  width: 120pc;
}
.middelc{
  background-color: #cbf1f5;
}
.bottomc{
  background-color: #abedd8;

}
.mount{
  position:relative;
  left: 25pc;
  bottom: 0px;
  width: 55pc;
  height: 37pc;
}
.cl{
  position: relative;
  top: 25pc;
  left:75pc;
  width:135px;
}
.cl1{
  position: relative;
  left: 39pc;
  bottom: 25pc;
  width: 145px;
  height: 45px;
}
.raul{
  position:absolute;
  left: 249px;
  top:55px;
  border-radius: 100px;

}
